<!-- template below -->
<!-- should include all our CSS links, etc., instead of in login.js? -->
<!-- above = advice from tutor -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Event Saver</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
