<!-- template below -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" href="/assets/icons/marijuana.png">
		<link  rel="stylesheet" type="text/css" href="./css/style.css">
		<link  rel="stylesheet" type="text/css"  href="./libs/bootstrap/css/bootstrap.min.css">
		<script src="./libs/jquery/jquery-3.3.1.js" defer></script>
		<script src="./libs/bootstrap/js/bootstrap.min.js" defer></script>
		<meta charset="UTF-8">
		<title>Event Saver</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
