  <nav class="navbar navbar-inverse">
      <div class ="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/going-green.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div>
  </nav>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/relax.png">
        <div class="carousel-caption">
          <h1>Greener Pastures</h1>
          <br>
          <a href="/checkin"><button type="button" class="btn bt-default">Login</button></a>
          <a href="/signup"><button type="button" class="btn bt-default">Sign Up</button></a>
        </div>
        </div> <!-- End Active -->
        <div class="item">
          <img src="images/tree.jpeg">
          <div class="carousel-caption">
            <h1>Greener Pastures</h1>
            <br>
            <a href="/checkin"><button type="button" class="btn bt-default">Login</button></a>
            <a href="/signup"><button type="button" class="btn bt-default">Sign Up</button></a>
          </div>
        </div>
        <div class="item">
          <img src="images/forest.jpeg">
          <div class="carousel-caption">
            <h1>Greener Pastures</h1>
            <br>
            <a href="/checkin"><button type="button" class="btn bt-default">Login</button></a>
            <a href="/signup"><button type="button" class="btn bt-default">Sign Up</button></a>
          </div>
          </div>
    </div>
    <!-- Start Slider Controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div> <!-- End Slider -->

  <div class="container text-center"> <!-- ICONS COURTESY OF FLATICON.COM -->
    <h2>What We're Using</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="images/003-doctor.png" id="icon">
        <h4>Consult Licenced Physicians</h4>
      </div>
      <div class="col-sm-4">
        <img src="images/002-internet.png" id="icon">
        <h4>Join A Global Support Network</h4>
      </div>
      <div class="col-sm-4">
        <img src="images/001-smartphone-24-hours-service.png" id="icon">
        <h4>Round The Clock Access</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Recent Studies Show...</h4>
        <p>A recent report by the National Academies of Sciences, Engineering, and Medicine said there was definitive evidence that cannabis or cannabinoids (which are found in the marijuana plant) can be an effective treatment for chronic pain. That same report said there's equally strong evidence marijuana can help with muscle spasms related to multiple sclerosis. Other types of muscle spasms respond to marijuana as well. People use medical marijuana to treat diaphragm spasms that are untreatable by other, prescribed medications.</p>
        <p>Marijuana is also used to manage nausea and weight loss, and can be used to treat glaucoma. A highly promising area of research is its use for PTSD in veterans who are returning from combat zones. Many veterans and their therapists report drastic improvement and clamor for more studies, and for a loosening of governmental restrictions on its study. Medical marijuana is also reported to help patients suffering from pain and wasting syndrome associated with HIV, as well as irritable bowel syndrome and Crohn’s disease.It was found in the study, published in the journal Molecular Cancer Therapeutics, that Cannabidiol has the ability to stop cancer by turning off a gene called Id-1. In 2007, researchers at California Pacific Medical Center in San Francisco, reported that CBD may prevent cancer from spreading. The researchers experimented on breast cancer cells in the lab that had high level of Id-1, and treated them with cannabidiol. The outcome was rather positive, the cells had decreased Id-1 expression, and were less aggressive spreaders. In fact, the American Association for Cancer Research has found that marijuana actually works to slow down tumor growth in brain, breast, and lungs considerately. </p>
    </div>
      <div class="col-md-6">
        <img src="images/scientist.jpeg" class="img=responsive">
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4>Find The Relief You Deserve</h4>
          <p>Don't let your fear or anxiety of being judged stop you from getting help. Get connected with one of our licesed physicians today.  Setting up an appoint is quick, easy, and most importantly, focused on you.</p>
      </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="images/001-people.png" class="img=responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4>Insurance Insurance Insurance</h4>
          <p>We work around your budget! Every benifit you recieve is covered under insurance.  We will work with all major providers to ensure that there is nothing standing in the way between you and relief. Green for you and green for us! Everybody wins!</p>
        </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="images/002-change.png" class="img=responsive">
          </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <h4><a href="#hidden" data-toggle="collapse">Legally authorized reasons to use Medicinal Marijuana</a></h4>
          <div id="hidden" class="collapse">
            <h4>It all depends on the state you live in</h4>
            <p>Please consult the index at https://www.leafly.com/news/health/qualifying-conditions-for-medical-marijuana-by-state for more information.</p>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-4">
          <h3>Contact Us</h3>
          <br>
          <h4>Our address and contact info here</h4>
        </div>
        <div class="col-sm-4">
          <h3>Contact Us</h3>
          <br>
          <h4>Our address and contact info here</h4>
          </div>
        <div class="col-sm-4">
          <h3>Contact Us</h3>
          <br>
          <h4>Our address and contact info here</h4>
          </div>
      </div>
    </footer>